body
{
 background-color:aqua;
 overflow-x:hidden;
}

#commerce
{
 width:30%;
 height:50%;
 }
 
 #back1
 {
	 background-color:lightgrey;
	 border-color:orange;
	 border:1px solid;
 }
 
 