body
{
 background-color:aqua;
 overflow-x:hidden;
}

#science
{
 width:30%;
 height:50%;
 }
 
 #back
 {
	 background-color:lightgrey;
	 border-color:green;
	 border:1px solid;
 }
 
 